body{
    font-family: Arial, sans-serif;
    text-align: center;
    background: url(https://manybackgrounds.com/images/hd/minimalist-basketball-hoop-bkl8p4pq6k421qp1.webp);
    background-size: cover;
    color: white;
    
}

.home{
    max-width: 600px;
    margin: 2.5% 5% 0 0 ;
    border: 5px solid white;
    border-radius: 20px;
    padding: 5%;
    background: transparent;
    backdrop-filter: blur(8px); 
    display: inline-block;
    font-weight: 900;
}
.away{
    max-width: 600px;
    margin: 0 0 0 8% ;
    border: 5px solid white;
    border-radius: 20px;
    padding: 5%;
    background: transparent;
    backdrop-filter: blur(8px); 
    display: inline-block;
    font-weight: 900;
}

    

.pointbtn{
    border: none;
    border-radius: 20px;
    background-color: rgb(202, 0, 0);
    color: white;
    padding: 5.5%;

    font-weight: 600;
    margin: 15% 0 0 0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 4vh;
    width: 8vw;
    
 
}
.resetbtn{
    border: none;
    border-radius: 20px;
    background-color: rgb(202, 0, 0);
    color: white;
    height: 4vh;
    width: 8vw;
    margin: .5vw;

}
.audiobtn{

    border: none;
    border-radius: 20px;
    background-color: rgb(202, 0, 0);
    color: white;
    height: 4vh;
    width: 8vw;
    margin: .5vw;
}

.utilityBtn{
    display: inline-block;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 5vw;
}

@media (max-width: 768px) {
    .pointbtn, .resetbtn{
        width: 30%;
    }
}

@media (max-width: 576px) {
    .pointbtn, .resetbtn{
        width: 40%;
    }
}
button:hover{
    background-color: darkred;
}
#home-currentpts, #away-currentpts{
    font-size: 9rem;
}

